<!DOCTYPE html>
<html>
  <head>
    <title>Response</title>
    <style>
      body {
        background-color: #222;
        font-family: Arial, sans-serif;
        color: #fff;
        text-align: center;
      }

      h1 {
        font-size: 48px;
        margin-top: 100px;
      }

      p {
        font-size: 36px;
        margin-top: 50px;
        display: inline-block;
        padding: 20px;
        background-color: #333;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Best possible profit for the given orders is:</h1>
    <p>{{ response }}</p>
  </body>
</html>